* {
    font-family: "Gowun Dodum", sans-serif;
    font-style: normal;
}

main {
    margin-left: 9vw;
}

.bg {
    position: absolute;
    margin-top: 3vw;
    width: 80vw;
}

.book_over2{
    position: absolute;
    margin-top: 2vw;
    width: 54vw;
    left: 21.4vw;
    top: 1vw;
}

.homebtn{
    position: absolute;
    top: 7vw;
    left: 73.6vw;
    width: 8vw;
    height: 8vw;
    background: url('img/homeBtnsvg.png') no-repeat;
    background-size: cover;
}

.homebtn:hover{
    animation: gif 1s steps(7), linear;
}

@keyframes gif{
    100%{background-position: -56.15vw 0;}
}
/* 
.wrap_piano{
    cursor: url('../img/magic_pole.png') 25 25, auto;
}

.wrap_abacus{
    cursor: url('../img/magic_pole.png') 25 25, auto;
}

.wrap_art{
    cursor: url('../img/magic_pole.png') 25 25, auto;
}

.wrap_ballet{
    cursor: url('../img/magic_pole.png') 25 25, auto;
}

.wrap_design{
    cursor: url('../img/magic_pole.png') 25 25, auto;
}

.wrap_idol{
    cursor: url('../img/magic_pole.png') 25 25, auto;
}

.wrap_programming{
    cursor: url('../img/magic_pole.png') 25 25, auto;
}

.wrap_tea{
    cursor: url('../img/magic_pole.png') 25 25, auto;
}

.wrap_knit{
    cursor: url('../img/magic_pole.png') 25 25, auto;
} */