* {
    font-family: "Gowun Dodum", sans-serif;
    font-style: normal;
}

main {
    margin-left: 9vw;
}

.bg {
    position: absolute;
    margin-top: 3vw;
    width: 80vw;
}

.book_over2{
    position: absolute;
    margin-top: 2vw;
    width: 54vw;
    left: 21.4vw;
    top: 1vw;
}

.homebtn{
    position: absolute;
    top: 7vw;
    left: 73.6vw;
    width: 8vw;
    height: 8vw;
    background: url('img/homeBtnsvg.png') no-repeat;
    background-size: cover;
}

.homebtn:hover{
    animation: gif 1s steps(7), linear;
}

@keyframes gif{
    100%{background-position: -56.15vw 0;}
}

